mat-toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.person-count {
  font-size: 8pt;
  line-height: 8pt;
}

.chat-name {
  font-size: 14pt;
  line-height: 14pt;
}

.round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.inline {
  display: inline-flex;
}
