<div class="fullscreen">
  <app-main-toolbar [chat]="selectedChat"></app-main-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [disableClose]="true" [opened]="true" mode="side">
      <div class="add-button">
        <span class="step-right grey">Чаты</span>
        <button (click)="createChat()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-nav-list class="mat-nav-list">
        <app-chat-nav-element
          (click)="selectChat(chat)"
          *ngFor="let chat of chatListElements"
          [chat]="chat"
        ></app-chat-nav-element>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-chat *ngIf="selectedChat" [chat]="selectedChat"></app-chat>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
