mat-sidenav {
  width: 250px;
  background-color: #fafafa;
}

.mat-nav-list {
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  height: 100vh;
}

mat-sidenav-content {
  background: #ffffff;
}

.add-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.step-right {
  padding-left: 20px;
}

.grey {
  color: grey;
}
