mat-sidenav {
  width: 250px;
  background-color: #fafafa;
}

.mat-nav-list {
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  height: 100vh;
  position: relative;
}

mat-sidenav-content {
  background: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}


.header-list-item,
.header-list-item:hover {
  background-color: #e5e5e5;
}

.full-width-sidenav {
  width: 15%;
}

.minimize-width-sidenav {
  width: 60px;
}

.full-width-content {
  margin-left: 15% !important;
}

.minimize-width-content {
  margin-left: 60px !important;
}
