<div class="main-chat-field">
  <div #messageBox class="messages" (scroll)="onScroll()">
    <mat-card *ngFor="let message of messages" class="{{getCssStyleForMessage(message)}}">
      <div class="title">
        <img alt="alt" mat-card-avatar
             [src]="getPictureSource(message.sender.picture)">
        <!--        <img class="round" src="data:{{project.picture.type}};base64,{{project.picture.data}}" width="350"-->
        <!--             height="320"-->
        <!--             alt="User-Profile-Image">-->
        <mat-card-title>
          {{ message.sender.username }}
        </mat-card-title>
        <mat-card-subtitle>{{ getSendDate(message.sendDate) }}</mat-card-subtitle>
      </div>
      <mat-card-content>
        <p>{{ message.content }}</p>
        <div *ngFor="let file of message.files">
          <br>
          <div class="file">
            <mat-icon>text_snippet</mat-icon>
            <a (click)="downloadFile(message.id, file)">{{file.name}}</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div *ngIf="messages.length === 0" class="no-msg-notify">
      <span>На данный момент сообщений нет :(</span>
    </div>
  </div>

  <form [formGroup]="form" class="form">
    <button (click)="addFile()" mat-icon-button type="button">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="input-field">
      <mat-label>Сообщение</mat-label>
      <input (keydown.enter)="send(form.value)" formControlName="message" matInput/>
      <mat-error *ngIf="form.get('message').hasError('required')"
      >Сообщение не должно быть пустым
      </mat-error>
    </mat-form-field>
    <button (click)="send(form.value)" [disabled]="form.invalid" mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
